@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
    margin: 10%;
    color: #333;
}
* {
    font-family: 'Raleway', sans-serif;
    font-weight: 400px;
}
h1 {
    font-size: 30px;
}
li {
    color: #0f0;
    font-size: 25px;
}
li > span {
    color: #333;
}
p > span {
    font-size: 20px;
}
footer {
    text-align: center;
}
